html,
body,
header,
#intro {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#intro {
    background: url("../img/london-2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#carouselBasicExample {
    width: 90%;
}

.card {
    width: 60%;
    text-align: center;
}

.accordion-button::after {
    font-weight: 900;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.red {
    background-color: red;
}

.card-body {
    min-height: 300px;
}

.card-text {
    text-align: justify;
}

.card-title {
    margin-top: 10px;
}

#btn-send {
    width: 40%;
}

#bg {
    background: linear-gradient(
    150deg,
        rgba(0, 0, 0, 0.0),
        rgba(0, 0, 0, 0.5) 60%);
}

#photo-text {
    position: absolute;
    width: 100%;
    padding-left: 0%;
    bottom: 15%;
    right: 0%;
    padding: 10px;
    background: linear-gradient(
            270deg,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0) 100%);
}

.justify {
    text-align: justify;
}

#contact, #gallery {
    scroll-margin-top: 200px;
}

#what-we-do {
    scroll-margin-top: 100px;
}

.accordion-button:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f078";
}

.full-width {
    width: 100%;
}